/* css variables for colors used: */
:root{
  --lavendar: #a7a5c6;
  --off-white: #e6e8e6;
  --green: #6e9075;
  --brown: #a0a083;
  --yellow-green: #e4e9b2;
}

/* styled page according to BEM */
.Graph {
  display: grid;
  background-color: var(--off-white);
  grid-template-rows: 20% 80%;
  font-family: 'Lato', sans-serif;
}
